<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- NOTE: defer means to wait for the html file to load before loading in the script --}}
    <script src="/js/app.js" defer></script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Location" />
            <button>Search</button>
        </form>

        <p class="isLoading"></p>
        <p class="location"></p>
        <p class="forecast"></p>
    </div>

    {{>footer}}
</body>

</html>